<%= labelled_fields_for :issue, @issue do |f| %>
  <div class="recipient_email_form_container">
    <% if @issue.safe_attribute? 'subject' %>
      <% ldap_use = Setting.plugin_send_notification["ldap_use"] %>
      <% if ldap_use.to_i == 1%>
        <p><%= f.select :recipient_email,
                        options_from_collection_for_select(ActiveDirectoryUser.order(:display_name).all, :mail, :display_name, TechMailer.extract_email_to_array(@issue.recipient_email)),{},
                        {class: "recipient_email_select", multiple: true, size: 255}
        %></p>
      <% else %>
        <p><%= f.text_field :recipient_email, :size => 80, class: "recipient_email_select" %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= javascript_include_tag 'init.js', plugin: :send_notification %>
<%= stylesheet_link_tag 'recipient_email.css', plugin: :send_notification %>